src/main/mule/mule-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5a46d644-2692-4571-a34e-2f575acf8733" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-gitFlow" doc:id="3aab668e-e28b-4fd5-a85f-ab712b754f76" >
		<http:listener doc:name="Listener" doc:id="e4f78507-cce3-42db-bb8a-d4dab2e0d293" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="My-github" doc:name="Set Payload" doc:id="0f2611e0-e1d0-40aa-a4f4-b74502626806" />
		<logger level="INFO" doc:name="Logger" doc:id="2592e609-f049-402b-86da-a3c04e39fed1" message="#[payload]"/>
	</flow>
</mule>
